<a href="https://colab.research.google.com/github/gamecicn/TF2_Study/blob/Kaggle_HousePrice/Kaggle_HousePrice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
# First XGBoost model for Pima Indians dataset
import os
import pandas as pd
import numpy as np

from numpy import loadtxt
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [156]:
DATA_FOLDER = "/content/drive/MyDrive/DS_data/HousePrice"

TRAIN_FILE = os.path.join(DATA_FOLDER, "train.csv")
TEST_FILE  = os.path.join(DATA_FOLDER, "test.csv")

# load data
train_data_raw = pd.read_csv(TRAIN_FILE)
test_data_raw = pd.read_csv(TEST_FILE)

# Remove Column ID
train_data_raw = train_data.iloc[:, 0:]

# EDA

### Data Over view

In [159]:
print("Train data shape:", train_data_raw.shape) 
print("Test  data shape:", train_data_raw.shape)

Train data shape: (1121, 37)
Test  data shape: (1121, 37)

In [160]:
train_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1121 entries, 0 to 1459
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1121 non-null   int64
 1   LotFrontage    1121 non-null   float64
 2   LotArea        1121 non-null   int64
 3   OverallQual    1121 non-null   int64
 4   OverallCond    1121 non-null   int64
 5   MasVnrArea     1121 non-null   float64
 6   BsmtFinSF1     1121 non-null   int64
 7   BsmtFinSF2     1121 non-null   int64
 8   BsmtUnfSF      1121 non-null   int64
 9   TotalBsmtSF    1121 non-null   int64
 10  1stFlrSF       1121 non-null   int64
 11  2ndFlrSF       1121 non-null   int64
 12  LowQualFinSF   1121 non-null   int64
 13  GrLivArea      1121 non-null   int64
 14  BsmtFullBath   1121 non-null   int64
 15  BsmtHalfBath   1121 non-null   int64
 16  FullBath       1121 non-null   int64
 17  HalfBath       1121 non-null   int64
 18  BedroomAbvGr   1121 non-null   int64
 19  KitchenAbvGr   1121 non-null   int64
 20  TotRmsAbvGrd   1121 non-null   int64
 21  Fireplaces     1121 non-null   int64
 22  WoodDeckSF     1121 non-null   int64
 23  OpenPorchSF    1121 non-null   int64
 24  EnclosedPorch  1121 non-null   int64
 25  3SsnPorch      1121 non-null   int64
 26  ScreenPorch    1121 non-null   int64
 27  PoolArea       1121 non-null   int64
 28  MiscVal        1121 non-null   int64
 29  MoSold         1121 non-null   int64
 30  GarageCars     1121 non-null   int64
 31  GarageArea     1121 non-null   int64
 32  YearBuilt      1121 non-null   int64
 33  YearRemodAdd   1121 non-null   int64
 34  GarageYrBlt    1121 non-null   float64
 35  YrSold         1121 non-null   int64
 36  SalePrice      1121 non-null   int64
dtypes: float64(3), int64(34)
memory usage: 332.8 KB

In [161]:
train_data.select_dtypes(include="float64").head()

   LotFrontage  MasVnrArea  GarageYrBlt
0         65.0       196.0          7.0
1         80.0         0.0         34.0
2         68.0       162.0          9.0
3         60.0         0.0         12.0
4         84.0       350.0         10.0

In [162]:
train_data_raw.head()

   MSSubClass  LotFrontage  LotArea  ...  GarageYrBlt  YrSold  SalePrice
0          60         65.0     8450  ...          7.0       2     208500
1          20         80.0     9600  ...         34.0       3     181500
2          60         68.0    11250  ...          9.0       2     223500
3          70         60.0     9550  ...         12.0       4     140000
4          60         84.0    14260  ...         10.0       2     250000

[5 rows x 37 columns]

# Transformation

Transform data type

### Choose target columns

In [163]:
# Create mini databset
YEAR_COL = ["YearBuilt", "YearRemodAdd", "GarageYrBlt", "YrSold"]

NUMERIC_COL = ["MSSubClass", 
              "LotFrontage", "LotArea",
               "OverallQual", "OverallCond",
               "MasVnrArea", 
               "BsmtFinSF1", "BsmtFinSF2", "BsmtUnfSF", "TotalBsmtSF",
               "1stFlrSF","2ndFlrSF","LowQualFinSF","GrLivArea",
               "BsmtFullBath","BsmtHalfBath",
               "FullBath","HalfBath","BedroomAbvGr","KitchenAbvGr",
               "TotRmsAbvGrd", "Fireplaces", 
               "WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch",
               "ScreenPorch","PoolArea", "MiscVal","MoSold",
               "GarageCars", "GarageArea", 
               *YEAR_COL 
               ]


OUTPUT_COL = ["SalePrice"]

TARGET_COL = [*NUMERIC_COL, *OUTPUT_COL]

train_data = train_data_raw[TARGET_COL]

### Conver Year To Duration

In [164]:
LATEST_YEAR = 2010
train_data[YEAR_COL] = LATEST_YEAR - train_data[YEAR_COL]

In [165]:
train_data.head()

   MSSubClass  LotFrontage  LotArea  ...  GarageYrBlt  YrSold  SalePrice
0          60         65.0     8450  ...       2003.0    2008     208500
1          20         80.0     9600  ...       1976.0    2007     181500
2          60         68.0    11250  ...       2001.0    2008     223500
3          70         60.0     9550  ...       1998.0    2006     140000
4          60         84.0    14260  ...       2000.0    2008     250000

[5 rows x 37 columns]

### Impute Missing data

In [166]:
train_data.dropna(inplace=True)
train_data.shape

(1121, 37)

### Split X, Y

In [167]:
# Create X, Y 
X_train = train_data.iloc[:, 0:-1]
Y_train = train_data.iloc[:, -1]
X_train.head()

   MSSubClass  LotFrontage  LotArea  ...  YearRemodAdd  GarageYrBlt  YrSold
0          60         65.0     8450  ...          2003       2003.0    2008
1          20         80.0     9600  ...          1976       1976.0    2007
2          60         68.0    11250  ...          2002       2001.0    2008
3          70         60.0     9550  ...          1970       1998.0    2006
4          60         84.0    14260  ...          2000       2000.0    2008

[5 rows x 36 columns]

### Scale

In [168]:
scaler = preprocessing.StandardScaler().fit(X_train[NUMERIC_COL])

X_train[NUMERIC_COL] = scaler.transform(X_train[NUMERIC_COL])

X_train.head()

   MSSubClass  LotFrontage   LotArea  ...  YearRemodAdd  GarageYrBlt    YrSold
0    0.092295    -0.233570 -0.205885  ...      0.823953     0.953084  0.153084
1   -0.865696     0.384834 -0.064358  ...     -0.460746    -0.092969 -0.596291
2    0.092295    -0.109889  0.138702  ...      0.776371     0.875599  0.153084
3    0.331793    -0.439705 -0.070512  ...     -0.746235     0.759371 -1.345665
4    0.092295     0.549742  0.509132  ...      0.681208     0.836856  0.153084

[5 rows x 36 columns]

# Build Model

In [171]:
model = XGBRegressor()
model.fit(X_train, Y_train)

[16:16:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

# Predict

In [172]:
test_data = test_data_raw[TARGET_COL[:-1]]


test_data[YEAR_COL] = LATEST_YEAR - test_data[YEAR_COL]

test_data[NUMERIC_COL] = scaler.transform(test_data[NUMERIC_COL])

y_pred = model.predict(test_data)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [173]:
y_pred

array([106301.95, 145393.72, 157473.1 , ..., 151384.8 ,  93000.34,
       194379.08], dtype=float32)

### Write to submit file

In [174]:
answer = pd.DataFrame(data={"Id" : range(1461, 1461+len(y_pred)), 
                            "SalePrice" : y_pred})

answer.head()

     Id      SalePrice
0  1461  106301.953125
1  1462  145393.718750
2  1463  157473.093750
3  1464  157545.531250
4  1465  180708.484375

In [175]:
OUTPUT_PATH = "/content/drive/MyDrive/output"
OUTPUT_FILE_NAME = "kaggle_house_price_3.csv"

answer.to_csv(os.path.join(OUTPUT_PATH, OUTPUT_FILE_NAME), index=False)